body {
  font-family: sans-serif;
}

#header {
  background-color: #dde;
  border-top: 3px solid #36c;
  height: 100%;
  overflow:hidden;
}

#header h1 {
  font-size: 14px;
  text-decoration: none;
  color: black;
  float: left;
  vertical-align: middle;
}

#header li {
  font-size: 14px;
  display: inline;
  list-style-type: none;
}

li {
  font-size: 14px;
  list-style-type: none;
}

#header a img {
  float: left;
  vertical-align: middle;
}

