{% extends "base.html" %}
{% block title %}#{{ device.key().name() }}{% endblock %}
{% block header %}
    <link href="/static/bootstrap/css/cover.css" rel="stylesheet" type="text/css" />
  {% if current_state != 'unknown' %}
    <h1>StatusBot #{{ device.key().name() }} is {{ current_state }} since {{ status_list[0].created.strftime('%H:%M:%S') }}</h1>
  {% else %}
   <h1>StatusBot #{{ device.key().name() }} Status</h1>
  {% endif %}
{% endblock %}
{% block content %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">StatusBot.net</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">
            {% if current_state != 'ready' %}
              {% if status_last_ready %}
                Last Ready {{ status_last_ready.created.strftime('%H:%M:%S') }}
              {% else %}
                {{ current_state }}
              {% endif %}
            {% endif %}
            </h1>
            <p class="lead">

            {% if current_state == 'ready' %}
              I'm ready for you! Come on by!
            {% else %}
              Sorry, I'm not ready. Sign-up for a one-time ready notification.
            {% endif %}
            </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

<!--
  <p>Server time: {{ datetime.strftime('%H:%M:%S') }}</p>
  <table border="1" style="width:300px">
    <tr>
      <th>Time</th>
      <th>State</th>
      <th>Digital 1</th>
      <th>Digital 2</th>
      <th>Analog 1</th>
    </tr>
  {% for status in status_list %}
    <tr>
        <td>{{ status.created.strftime('%H:%M:%S') }}</td>
        <td>{{ status.state }}</td>
        <td>{{ status.digital1 }}</td>
        <td>{{ status.digital2 }}</td> 
        <td>{{ status.analog1 }}</td> 
    </tr>
  {% endfor %}
  </table>
  <p>Subscribers: {{ subscriber_list.count(20) }}</p>
  {% if device %}
    <form action="/subscribe" method="post">
      <input name="device_id" id="device_id" type="hidden" size="1" value="{{ device.key().name() }}" />
      <label for="email">
        Subscribe to <b>one-time</b> ready notification:<br />
      </label>
      <input name="email" id="email" type="text" size="" value="" />
      <input type="submit" />
    </form>
  {% endif %}
-->
{% endblock %}
