{% extends "base.html" %}
{% block title %}StatusBot.net{% endblock %}
{% block header %}
  <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
          {% for device in device_list %}
            <div class="col-xs-6 col-sm-3 placeholder">
            {% if device.status_set.order('-created').get().state == 'ready' %}
              <img data-src="holder.js/100x100/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            {% else %}
              <img data-src="holder.js/100x100/auto/lava" class="img-responsive" alt="Generic placeholder thumbnail">
            {% endif %}
              <h4><a href="/{{ device.key().name() }}">{{ device.key().name() }}</a></h4>
              <span class="text-muted">{{ device.location }}</span>
            </div>
          {% endfor %}
          </div>

          <h2 class="sub-header">Details</h2>
          <p>Select a StatusBot for more information.</p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Location</th>
                  <th>State</th>
                </tr>
              </thead>
              <tbody>
              {% for device in device_list %}
                <tr>
                  <td><a href="/{{ device.key().name() }}">{{ device.key().name() }}</a></td>
                  <td>{{ device.location }}</td>
                  <td>{{ device.status_set.order('-created').get().state }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

      </div>
    </div>

{% endblock %}
