{% extends "base.html" %}
{% block title %}StatusBot.net{% endblock %}
{% block header %}
  <h1>StatusBot Dashboard</h1>
{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
          <h1 class="page-header">Recent</h1>
          <p>Welcome to StatusBot.net, SkyNet for the StatusBot.</p>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">All</h2>
          <p>Select a StatusBot for more information.</p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Location</th>
                  <th>State</th>
                </tr>
              </thead>
              <tbody>
              {% for device in device_list %}
                <tr>
                  <td><a href="/{{ device.key().name() }}">{{ device.key().name() }}</a></td>
                  <td>Unknown</td>
                  <td>{{ device.status_set.order('-created').get().state }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

      </div>
    </div>

{% endblock %}
